<table>
  <% if @favorites.empty? %>
    <h2>まだお気に入りがありません。</h2>
  <% else %>
    <h2>お気に入りリスト</h2>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>Image</th>
    </tr>
  <% end %>
<% @favorites.each do |favorite| %>
  <tr>
    <% if favorite.user_id == current_user.id %>
      <td><%= favorite.picture.user.name %></td>
      <td><%= favorite.picture.title %></td>
      <td><%= favorite.picture.content %></td>
      <% if favorite.picture.image.url%>
        <td><%= image_tag favorite.picture.image.url %></td>
      <% end %>
    <% end %>      
  </tr>
<% end %>
</table>